<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Create Category</h1>
    <form action="/categories/update/<%=locals.id%>" method="post">
        <label for="catname">Category:</label>
        <input type="text" name="categoryName" id="catname" required value="<%= locals.name %>">

        <label for="catdesc">Description:</label>
        <input type="text" name="categoryDesc" id="catdesc" required value="<%= locals.desc %>">

        <label for="catURL">Image URL</label>
        <input type="text" name="categoryImgURL" id="catURL" value="<%= locals.imgURL %>">

        <button>Edit Category</button>
    </form>
    <ul>
        <% if (locals.errors) { %>
            <% locals.errors.forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }); %>
                    <%} %>
    </ul>
</body>

</html>